@import 'mcassets/scss/main';

.bank-segment {
    &__detail {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    &__name {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: -8px !important;
    }

    &__segment {
        box-shadow: none !important;
        border: none !important;
    }

    &__progress {
        margin: 0 !important;
    }
}
