$background-primary: getColor(white);
$background-secondary:  getColor(light-grey-alpha);
$background-dark:  getColor(indigo);
$background-branded:  getColor(green-light-tint);
$background-brand:  getColor(deep-indigo);
