@import 'mcassets/scss/main';

.calculator-form {
    & {
        text-align: left;
    }

    input {
        font-weight: 600;
    }

    &__tenures {
        margin: ($spacing * 2) auto ($spacing * 3) !important;

        &__btn {
            margin: auto 2px !important;
        }
    }
}
