@import 'mcassets/scss/main';

.main {
    width: 100%;
    display: block;
    padding: 0 0 ($spacing * 3) 0;

    .logo-header {
        margin-top: $spacing !important;
    }
}

.row, .column {
    padding: 4px !important;
}